<p>About this message board:</p>

  <div class='gallery'>
    <ul>
      <li><p></p><img src='http://lorempixum.com/400/400/people/1'></li>
      <li><p></p><img src='http://lorempixum.com/400/400/people/2'></li>
      <li><p></p><img src='http://lorempixum.com/400/400/people/3'></li>
      <li><p></p><img src='http://lorempixum.com/400/400/people/4'></li>
      <li><p></p><img src='http://lorempixum.com/400/400/people/5'></li>
      <li><p></p><img src='http://lorempixum.com/400/400/people/6'></li>
    </ul>
  </div>
